<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>prueba git.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57105EF21BD8F88B00064160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57105F091BD8F88C00064160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57105F141BD8F88C00064160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
